@model IEnumerable<RestaurantApplication.Models.DishViewModel>


<div class="row mt-5 mb-2">

    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            
            @Html.DisplayFor(modelItem => item.Name)          

            <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="ChangeCookingTime1" asp-route-id="@item.Id">
                ChangeCookingTime
            </a>
            
        </div>

    }

</div>