@model IEnumerable<RestaurantApplication.Models.IngredientViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<style type="text/css">
    #bg{
        background-image:url(/img/fon.jpg);
        width: 500px ;
        height: 300px;
    }
</style>

<div id="bg">
    <div class="text-center">
        <h2>Ingredients</h2>
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.Name); <br />

        }

        <h2>Cooking time</h2>
        <p>@ViewBag.Time min</p>

    </div>

    <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Menu">
        Back
    </a>
</div>
