@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You are welcome to the restaurant 'Сourse work Salabay Kostya'</h1>
</div>

<div class="container-fluid text-center">
    <img class="img-thumbnail" src ="/img/rs.jpg" alt="Restaurant"
         width="850" height="300" />
</div>

